body {
    margin: 0;
    padding: 0;
}

/* login form body */
.login-body {
    max-width: 800px;
    height: auto;
    margin: auto;
    background-color: #002655;
    margin-top: 20px;
    padding: 50px 30px;
    border-radius: 10px;
}

/* input custom style */
.input-color {
    background-color: #002655;
    width: fit-content;
}
.input-color{
    border: 1px solid white;
}
.input-color:focus{
    outline: 3px solid blue;
    border: 1px solid white;
}
.input-color::placeholder {
    color: white;
    opacity: 0.4;
}

/* all ancor tag style */
a {
    text-decoration: none;
}
/* custom button style */
.custom-button{
    background-color: #2222fd;
    color: white;
}
.custom-button:hover {
    background-color: #0000ff;
    color: white;
}
/* login form text color */
.signup-text-color{
    color: #00C6F7
}

 /* Video Background Image */
 #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  
  #video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: #fff;
  }